<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Application2</h1>
    <form method="post">
        {{data.form.csrf_token}}
        <select name="choice">
            <option value="グー">グー</option> 
            <option value="ちょき">ちょき</option>
            <option value="ぱー">ぱー</option>
        </select>
        <input type="submit" value="submit"/>
    </form>
    <div>結果:{{data.result}}</div>
    <a href="/">index.htmlへ</a>
</body>
</html>