<!DOCTYPE html>

<head>
    <title>Sample site</title>
    <link href="{{ url_for('sampleSite.static',filename='css/index.css')}}" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <h1>
            Sample site!

        </h1>
        <table>
            <tr>
                <th><label>URL</label></th>
                <td><label>{{url_for(request.endpoint)}}</label></td>
            </tr>
            <tr>
                <th><label>ID</label></th>
                <td><label>{{data.id}}</label></td>
            </tr>
            <tr>
                <th><label>name</label></th>
                <td><label>{{data.name}}</label></td>
            </tr>
        </table>

        <form method="post">
            {{data.form.csrf_token}}
            <input type="text" name="message"/>
            <input type="submit" value="つぶやく"/>
        </form>


        {% for message in data.messageList %}
        <hr />
        {{message}}<br\>
        {%endfor%}
        <a href="/page2">page2へ</a>
        <a href="/wiki">wikiへ</a>
        <a href="/study">study</a>
        <a href="/application1">application1</a>
        <a href="/application2">application2</a>
        <a href="/application3">application3</a>
    </div>
</body>

</html>