    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>page2</title>
        <link href="{{ url_for('sampleSite.static',filename='css/index.css')}}" rel="stylesheet"/>
    </head>
    <body>
        <header>
          <div>
            <div class="wikiLogo">
              <img class="logo" height="40px"
                src="data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Ctitle%3E menu %3C/title%3E %3Cpath d=%22M1 3v2h18V3zm0 8h18V9H1zm0 6h18v-2H1z%22/%3E %3C/svg%3E"
                alt="サイドバー">
              <img class="logo" src="https://ja.wikipedia.org/static/images/mobile/copyright/wikipedia.png" alt="絵">
              <span class="logo">
                <img class="wordmark" src="https://ja.wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-ja.svg"
                  alt="wikiLogo">
                <img class="wordmark" src="https://ja.wikipedia.org/static/images/mobile/copyright/wikipedia-tagline-ja.svg"
                  alt="wikiLogo">
              </span>
            </div>
            <div class="wikiLogo">
              <img class="searchimg" src="https://ja.wikipedia.org/w/skins/Vector/resources/common/images/search.svg?bbf78"
                alt="">
              <input class="searchimg" type="text" placeholder="Wikipedia内を検索" style="margin-right:450px" size="12">
            </div>
            <div class="wikiLogo">
              <span class="account">アカウント作成</span>
              <img class="account"
                src="https://ja.wikipedia.org/w/load.php?modules=skins.vector.icons&image=ellipsis&format=original&skin=vector-2022&version=iepb2"
                alt="">
            </div>
          </div>
          <br><br><br><br>
        </header>
        <div>
          <h2 class="h1-text">Flask</h1>
            <div class="description">
                Flask（フラスク）は、プログラミング言語Python用の、軽量なウェブアプリケーションフレームワークである。標準で提供する機能を最小限に保っているため、自身を「マイクロフレームワーク」と呼んでいる。Werkzeug WSGIツールキットとJinja2テンプレートエンジンを基に作られている。BSDライセンスで公開されている。</div>
        </div>
        <div class="概要">
          <h2 class="h1-text">概要</h1>
            <div>
                FlaskはArmin Ronacherによって開発された。彼は『エイプリルフールのジョークとして作ったのだけれど、有名になって、いつのまにか本格的なアプリケーションになってしまった』[4][5]と述べている。

                バージョン0.10で、Python 3に対応した[6]。
                
                FlaskはPython愛好家の間で人気がある。2020年10月現在、GitHub上のPythonのウェブ開発フレームワーク中でDjangoよりわずかに少ない2番目に多いスターを獲得しており[7]、JetBrainsのPython Developers Survey 2018、2019、2020では、最も人気が高いウェブフレームワークになった[8][9][10]。
            </div>
        </div>
      </body>
    <a href="/">index.htmlへ</a>
    </html>