<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('sampleSite.static',filename='css/index.css')}}" rel="stylesheet"/>
</head>
<body>
    <div class="header">
        <table class="table">
            <tr>
                <th><label>sum</label></th>
                <td><label>{{data.sum}}</label></td>
            </tr>
            <tr>
                <th><label>average</label></th>
                <td><label>{{data.average}}</label></td>
            </tr>
            <tr>
                <th><label>pass</label></th>
                <td><label>{{data.pass}}</label></td>
            </tr>
            <tr>
                <th><label>subject_average</label></th>
                <td><label>{{data.subject_average}}</label></td>
            </tr>
        </table>
    </div>
    <a href="/">index.html</a>
</body>
</html>